@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.frise {
  background-color: rgb(104, 29, 29);
  min-width: 20000px;
  height: 100px;
  position: absolute;
  z-index: 0;
}
.date {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.deux {
  position: relative;
  left: 2500px;
}
.trois {
  position: relative;
  left: 5000px;
}
.quatre {
  position: relative;
  left: 7900px;
}
.cinq {
  position: relative;
  left: 11400px;
}
.six {
  position: relative;
  left: 15400px;
}
.trai {
  width: 1px;
  background-color: black;
  height: 100px;
}
.frise {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.deuxtrai {
  position: relative;
  left: 1950px;
}
.troistrai {
  position: relative;
  left: 3680px;
}
.quatretrai {
  position: relative;
  left: 5380px;
}
.cinqtrai {
  position: relative;
  left: 7700px;
}
.sixtrai {
  position: relative;
  left: 10160px;
}
.petitedateun {
  position: relative;
  left: 1000px;
}
.petitedatedeux {
  position: relative;
  left: 1300px;
}
.petitedatetrois {
  position: relative;
  left: 1600px;
}
.petitedatequatre {
  position: relative;
  left: 3080px;
}
.petitedatecinq {
  position: relative;
  left: 3350px;
}
.petitedatesix {
  position: relative;
  left: 4100px;
}
.petitedatesept {
  position: relative;
  left: 4670px;
}
.petitedate8 {
  position: relative;
  left: 5350px;
}
.petitedate9 {
  position: relative;
  left: 5730px;
}
.petitedate10 {
  position: relative;
  left: 6275px;
}
.petitedate11 {
  position: relative;
  left: 6765px;
}
.petitedate12 {
  position: relative;
  left: 7325px;
}
.petitedate13 {
  position: relative;
  left: 8530px;
}
.petitedate14 {
  position: relative;
  left: 8820px;
}
.petitedate15 {
  position: relative;
  left: 9450px;
}
.petitedate16 {
  position: relative;
  left: 10145px;
}
.petitedate17 {
  position: relative;
  left: 10425px;
}
.petitedate18 {
  position: relative;
  left: 11170px;
}
.petitedate19 {
  position: relative;
  left: 11970px;
}
.petitedate20 {
  position: relative;
  left: 12270px;
}
.petitedate21 {
  position: relative;
  left: 12570px;
}
.petitedate22 {
  position: relative;
  left: 13100px;
}
.petitedate23 {
  position: relative;
  left: 13970px;
}
.petitedate24 {
  position: relative;
  left: 14820px;
}
.a1 {
  position: relative;
  left: 750px;
}
.a2 {
  position: relative;
  left: 900px;
}
.a3 {
  position: relative;
  left: 1100px;
}
.a4 {
  position: relative;
  left: 2500px;
}
.a5 {
  position: relative;
  left: 2600px;
}
.a6 {
  position: relative;
  left: 3200px;
}
.a7 {
  position: relative;
  left: 3600px;
}
/**/
.a8 {
  position: relative;
  left: 4000px;
}
.a9 {
  position: relative;
  left: 4200px;
}
.a10 {
  position: relative;
  left: 4600px;
}
.a11 {
  position: relative;
  left: 4900px;
}
.a12 {
  position: relative;
  left: 5300px;
  bottom: 20px;
}
.a13 {
  position: relative;
  left: 5050px;
  top: 20px;
}
.a14 {
  position: relative;
  left: 5800px;
}
.a15 {
  position: relative;
  left: 5900px;
}
.a16 {
  position: relative;
  left: 6300px;
}
.a17 {
  position: relative;
  left: 4300px;
}
.a18 {
  position: relative;
  left: 6900px;
}
.a19 {
  position: relative;
  left: 7500px;
}
.a20 {
  position: relative;
  left: 8000px;
}
.a21 {
  position: relative;
  left: 8100px;
  top: 50px;
}
.a22 {
  position: relative;
  left: 7850px;
}
.a23 {
  position: relative;
  left: 7650px;
  bottom: 50px;
}
.a24 {
  position: relative;
  left: 7800px;
}
.a25 {
  position: relative;
  left: 8200px;
}
.a26 {
  position: relative;
  left: 8900px;
}
.a27 {
  position: relative;
  left: 9600px;
}
.a28 {
  position: relative;
  left: 9600px;
}
.a29 {
  position: relative;
  left: 9600px;
}
.a30 {
  position: relative;
  left: 9600px;
}
.a31 {
  position: relative;
  left: 9600px;
}
.a32 {
  position: relative;
  left: 9600px;
}
.a33 {
  position: relative;
  left: 9600px;
}
.a34 {
  position: relative;
  left: 9600px;
}
.a35 {
  position: relative;
  left: 9600px;
}
.moyenage {
  position: relative;
  left: 400px;
}
.renaissance {
  position: relative;
  left: 1200px;
}
.baroque {
  position: relative;
  left: 2300px;
}
.classique {
  position: relative;
  left: 5600px;
}
.romantique {
  position: relative;
  left: 7800px;
}
.modern {
  position: relative;
  left: 10200px;
}
.class {
  margin-top: 100px;
  display: flex;
}
.a {
  position: relative;
  left: 600px;
  font-size: 70px;
}
.b {
  position: relative;
  left: 1200px;
  font-size: 70px;
}
.c {
  position: relative;
  left: 1800px;
  font-size: 70px;
}
.d {
  position: relative;
  left: 2400px;
  font-size: 70px;
}
.e {
  position: relative;
  left: 3000px;
  font-size: 70px;
}
.f {
  position: relative;
  left: 3600px;
  font-size: 70px;
}
.g {
  position: relative;
  left: 4200px;
  font-size: 70px;
}
.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}
